<div class="uk-container uk-align-center uk-text-center">
    <h1 class="uk-text-center">Devour A Burger!</h1>

    <img src="https://media.giphy.com/media/l2SpNLZQSlENDKAkU/giphy.gif" style="width:150px;height:150px;">

    <div class="uk-grid-small uk-child-width-expand@s uk-text-center uk-margin" uk-grid>
        <div class="cardcolor1 uk-card uk-card-default uk-card-body">
            <h2>You Got A Burger!</h2>
            {{!-- display only when devoured is false --}}
            <ul>
                {{#each Burgers}}
                {{#unless devoured}}
                <p>#{{this.id}}.  {{this.burgerName}}
                    <button data-id="{{this.id}}" class="devoured uk-button uk-button-danger uk-button-small">Devoured</button>
                </p>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="cardcolor2 uk-card uk-card-default uk-card-body">
            <h2>Burger Is Gone!</h2>
            {{!-- display only when devoured is true --}}
            <ul>
                {{#each Burgers}}
                {{#if devoured}}
                <p>#{{this.id}}. {{this.burgerName}}</p>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>

    {{!-- New burge submit form --}}
    <h2>Add a Burger</h2>
    <p>Enter a burger here and click Submit</p>

    <div class="uk-container">
        <form class="create">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <textarea id="burgerInput" class="uk-textarea uk-form-width-large" rows="2" type="text" placeholder="Your Burger Name"></textarea>
                </div>

            </fieldset>
            <button id="submitBtn" class="uk-button uk-button-primary">Submit</button>
            <br><br>
        </form>

    </div>

    <div></div>

    <footer class="footer">
        <div class="uk-container">
            <a href="/api/burgers">API Burgers List</a>
            <span> | </span>
            <a href="https://github.com/lalatw/burger">GitHub Repo</a>
        </div>
    </footer>
    <div class="uk-margin"></div>

</div>